---
import { MaskedHeading } from "@/components/typography/masked-heading";
---

<section id="pricing" class="mt-48">
  <div class="container">
    <div class="flex flex-col gap-3 max-w-xl mx-auto">
      <MaskedHeading className="leading-[1.15]">Our Packages</MaskedHeading>
      <p class="text-xl text-foreground/75 text-center">Our packages services with a heavy discount!</p>
    </div>
    <div class="grid grid-cols-3 gap-6 max-w-6xl mt-16 mx-auto">
      <article class="bg-card rounded-xl border px-8 py-7 flex flex-col">
        <div class="flex flex-col gap-2.5 mb-6">
          <p class="text-base font-semibold text-[#B73DFC]">Starter</p>
          <p class="text-3xl font-semibold">S$349</p>
          <p class="text-foreground/80">New businesses wanting a professional website for their company themselves</p>
        </div>
        <div class="h-px shrink-0 bg-border"></div>
        <div class="flex flex-col gap-2.5 mt-6 mb-8">
          <p class="font-semibold">Services Included:</p>
          <ul class="text-sm text-foreground/60 list-['-'] pl-2 flex flex-col gap-1.5">
            <li class="pl-1.5">Branding</li>
            <li class="pl-1.5">5 pages responsive website</li>
            <li class="pl-1.5">FREE 1 year .com domain</li>
            <li class="pl-1.5">FREE On-page SEO Friendly Optimisation</li>
            <li class="pl-1.5">FREE up to 5 royalty free photos</li>
            <li class="pl-1.5">FREE Chatbot set-up</li>
            <li class="pl-1.5">FREE Google Workspace Business Email Set-up (excluding subscription charges)</li>
          </ul>
        </div>
        <div class="h-px shrink-0 bg-border mt-auto"></div>
        <div class="relative group/button w-full mt-8">
          <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover/button:opacity-60 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
          <button class="h-12 inline-flex items-center justify-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10 w-full">Get Started</button>
        </div>
      </article>
      <article class="bg-card rounded-xl border px-8 py-7 flex flex-col">
        <div class="flex flex-col gap-2.5 mb-6">
          <p class="text-base font-semibold text-[#B73DFC]">Professional</p>
          <p class="text-3xl font-semibold">S$649</p>
          <p class="text-foreground/80">Businesses looking to make an impact and widen their digital presence</p>
        </div>
        <div class="h-px shrink-0 bg-border"></div>
        <div class="flex flex-col gap-2.5 mt-6 mb-8">
          <p class="font-semibold">Services Included:</p>
          <ul class="text-sm text-foreground/60 list-['-'] pl-2 flex flex-col gap-1.5">
            <li class="pl-1.5">Branding</li>
            <li class="pl-1.5">4 pages Web-Application (ticketing/ marketplace/ booking platform)</li>
            <li class="pl-1.5">FREE 1 year .com domain</li>
            <li class="pl-1.5">FREE On-page SEO Friendly Optimisation</li>
            <li class="pl-1.5">FREE up to 5 royalty free photos</li>
            <li class="pl-1.5">FREE Chatbot set-up</li>
            <li class="pl-1.5">FREE Google Workspace Business Email Set-up (excluding subscription charges)</li>
            <li class="pl-1.5">FREE Facebook set-up</li>
            <li class="pl-1.5">FREE Twitter/X set-up</li>
            <li class="pl-1.5">FREE Google Maps / Business Details set-up</li>
          </ul>
        </div>
        <div class="h-px shrink-0 bg-border mt-auto"></div>
        <div class="relative group/button w-full mt-8">
          <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover/button:opacity-60 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
          <button class="h-12 inline-flex items-center justify-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10 w-full">Get Started</button>
        </div>
      </article>
      <article class="bg-card rounded-xl border px-8 py-7 flex flex-col">
        <div class="flex flex-col gap-2.5 mb-6">
          <p class="text-base font-semibold text-[#B73DFC]">Expert</p>
          <p class="text-3xl font-semibold">S$1299</p>
          <p class="text-foreground/80">Businesses seeking a comprehensive and all encompassing digital solution.</p>
        </div>
        <div class="h-px shrink-0 bg-border"></div>
        <div class="flex flex-col gap-2.5 mt-6 mb-8">
          <p class="font-semibold">Services Included:</p>
          <ul class="text-sm text-foreground/60 list-['-'] pl-2 flex flex-col gap-1.5">
            <li class="pl-1.5">Custom-made mobile / desktop application</li>
            <li class="pl-1.5">FREE App Prototype design change (2 minor changes)</li>
            <li class="pl-1.5">FREE App deployment and launch support (2 months support)</li>
            <li class="pl-1.5">FREE App performance optimization</li>
            <li class="pl-1.5">FREE Push notification setup</li>
            <li class="pl-1.5">FREE App analytics and reporting setup</li>
            <li class="pl-1.5">FREE App Graphics design (Logo, Banner and Icons)</li>
          </ul>
        </div>
        <div class="h-px shrink-0 bg-border mt-auto"></div>
        <div class="relative group/button w-full mt-8">
          <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover/button:opacity-60 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
          <button class="h-12 inline-flex items-center justify-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10 w-full">Get Started</button>
        </div>
      </article>
    </div>
  </div>
</section>
