---
import { MaskedHeading } from "@/components/typography/masked-heading";
import { DeliveredProjects } from '@/pages/services/_components/projects'
---

<section id="projects" class="mt-40">
  <div class="container">
    <div class="flex flex-col gap-3.5 max-w-2xl mx-auto">
      <MaskedHeading className="leading-[1.15]">Our Delivered Products</MaskedHeading>
      <p class="text-xl text-foreground/75 text-center">Here are some of the products we have created for our clients, for more examples please contact us</p>
    </div>
    <DeliveredProjects client:load />
  </div>
</section>
