---
import { MaskedHeading } from "@/components/typography/masked-heading";
import { FAQAccordions } from "@/pages/about/components/faq";
---

<section id="faq" class="pt-40 group" data-state="invisible">
  <div class="container grid grid-cols-2 gap-36">
    <div>
      <MaskedHeading className="text-left group-data-[state=visible]:animate-slide-in opacity-0">Frequently Asked Questions (FAQ)</MaskedHeading>
      <p class="text-lg text-foreground/75 mt-6 leading-relaxed group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:150ms]">Here are some of the frequently asked questions. Otherwise, do feel free to contact us!</p>
      <div class="relative group w-fit mt-8 group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:250ms]">
        <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover:opacity-60 group-hover:-inset-px group-hover:duration-300 z-0"></div>
        <button class="h-14 inline-flex items-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10">Contact Us</button>
      </div>
    </div>
    <div class="group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:400ms]">
      <FAQAccordions client:load />
    </div>
  </div>
</section>

<script>
  const element = document.getElementById("faq")!;
  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        element.dataset.state = "visible";
        observer.unobserve(element);
      }
    },
    { threshold: 0.1 }
  );
  observer.observe(element);
</script>
