---
import { MaskedHeading } from "@/components/typography/masked-heading";
import founder from "@/assets/images/about/founder.png";
import signature from "@/assets/images/about/signature.png";
---

<section id="stats" class="pt-32 group" data-state="invisible">
  <div class="container flex flex-col gap-24">
    <div class="h-px w-full bg-gradient-to-r from-background via-gray-400 to-background"></div>
    <div class="flex flex-col md:flex-row items-center justify-center gap-x-28 gap-y-12 group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:0ms]">
      <article class="flex flex-col items-center justify-center">
        <MaskedHeading>18+</MaskedHeading>
        <p class="text-center text-lg mt-1.5">Clients</p>
      </article>
      <div class="hidden md:block h-28 w-px bg-gradient-to-b from-background via-gray-400 to-background shrink-0"></div>
      <article class="flex flex-col items-center justify-center">
        <MaskedHeading>900+</MaskedHeading>
        <p class="text-center text-lg mt-1.5">hours spent on craft</p>
      </article>
      <div class="hidden md:block h-28 w-px bg-gradient-to-b from-background via-gray-400 to-background shrink-0"></div>
      <article class="flex flex-col items-center justify-center">
        <MaskedHeading>4.6</MaskedHeading>
        <p class="text-center text-lg mt-1.5">Star review</p>
      </article>
    </div>
    <div class="flex flex-col items-center group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:150ms]">
      <MaskedHeading className="text-3xl md:text-3xl lg:text-3xl leading-snug max-w-3xl">We take pride in offering exceptional digital solutions that have helped us earn the trust and partnership of a discerning group of clients all over the world.</MaskedHeading>
      <div class="flex items-center mt-8 gap-20">
        <div class="flex items-center gap-4">
          <img src={founder.src} alt="Abhay Bagdawala" class="h-24 w-24 rounded-full" />
          <div>
            <p class="text-lg font-semibold">Abhay Bagdawala</p>
            <p class="text-base text-foreground/50">Founder</p>
          </div>
        </div>
        <div class="h-28 w-px bg-gradient-to-b from-background via-gray-400 to-background shrink-0"></div>
        <div>
          <img src={signature.src} alt="Abhay Bagdawala" class="w-40 h-auto" />
        </div>
      </div>
    </div>
    <div class="h-px w-full bg-gradient-to-r from-background via-gray-400 to-background"></div>
  </div>
</section>

<script>
  const element = document.getElementById("stats")!;
  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        element.dataset.state = "visible";
        observer.unobserve(element);
      }
    },
    { threshold: 0.3 }
  );
  observer.observe(element);
</script>
