---
import { MaskedHeading } from "@/components/typography/masked-heading";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Checkbox } from "@/components/ui/checkbox";
import { Label } from "@/components/ui/label";

import Layout from "@/layouts/layout.astro";
import Banner from "@/pages/_views/banner.astro";
import Client from "@/pages/_views/client.astro";
import Faq from "@/pages/about/_views/faq.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Contact Us">
  <section id="contact">
    <div class="container flex flex-col items-center">
      <MaskedHeading className="text-7xl leading-[1.15] max-w-2xl">Let's start a project together</MaskedHeading>
      <div class="grid grid-cols-12 w-full max-w-screen-xl border border-[#1D1D1D] bg-card rounded-2xl overflow-hidden mt-[4.5rem]">
        <div class="col-span-4 flex flex-col gap-8 items-center bg-[#1D1D1D] px-12 py-16">
          <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/662b8899e781716548b22222_Contact%20Group%20Image.svg" alt="" />
          <p class="text-2xl font-medium text-white text-center">Let's start a project<br />together</p>
          <div class="relative group/button w-fit">
            <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover/button:opacity-60 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
            <button class="h-12 inline-flex items-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10">Contact Us</button>
          </div>
          <div class="flex flex-col gap-4 pt-4">
            <div class="flex items-center gap-3">
              <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2186c420420784330da5_Mail%20Icon%20White.svg" />
              <span>inquiries@nodeflux.com</span>
            </div>
            <div class="flex items-center gap-3">
              <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2186c6e506d22d48da0b_MapPin.svg" />
              <span>Singapore</span>
            </div>
            <div class="flex items-center gap-3">
              <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2186c62974073aa49bdd_Phone.svg" />
              <span>+65 9876 5432</span>
            </div>
          </div>
        </div>
        <div class="col-span-8 flex flex-col p-12">
          <h4 class="text-2xl font-medium">Get in touch</h4>
          <form action="" class="mt-6">
            <div class="grid grid-cols-2 gap-[1.375rem]">
              <div class="relative flex items-center">
                <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd218882b66ce77f0675fc_Person%20Icon.svg" class="absolute left-4" />
                <Input placeholder="Your first name" className="pl-12" />
              </div>
              <div class="relative flex items-center">
                <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd218882b66ce77f0675fc_Person%20Icon.svg" class="absolute left-4" />
                <Input placeholder="Your last name" className="pl-12" />
              </div>
              <div class="relative flex items-center">
                <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2186a8f8aab935af73b1_Envelope.svg" class="absolute left-4" />
                <Input placeholder="Enter your email" className="pl-12" />
              </div>
              <div class="relative flex items-center">
                <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2187c420420784330df6_Subject%20Icon.png" class="absolute left-4" />
                <Input placeholder="Subject" className="pl-12" />
              </div>
              <div class="relative flex items-start col-span-2">
                <img src="https://cdn.prod.website-files.com/65b815fb8b11393078dd199d/65cd2187028ea46ec50bf656_Message%20Icon.svg" class="absolute left-4 top-2.5" />
                <Textarea placeholder="Type your message" className="pl-12 max-h-64 min-h-36" />
              </div>
              <div class="flex items-center gap-8 justify-between col-span-2">
                <div class="flex items-center gap-2.5">
                  <Checkbox id="checkbox" />
                  <Label htmlFor="checkbox">I agree to be contacted by Nodeflux in regards to this inquiry</Label>
                </div>
                <div class="relative group/button w-fit">
                  <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#FFFFFF] rounded-xl blur-sm group-hover/button:opacity-40 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
                  <button class="h-14 inline-flex items-center px-10 py-2 bg-[#FFFFFF] font-medium rounded-full text-background relative z-10">Submit Now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <Client />
  <Faq />
  <Banner />
</Layout>
