---
import { MaskedHeading } from "@/components/typography/masked-heading";
---

<section id="banner" class="pt-40 group" data-state="invisible">
  <div class="container">
    <article class="group-data-[state=visible]:animate-slide-in opacity-0 bg-card bg-hero-pattern bg-bottom py-20 px-10 flex flex-col items-center rounded-2xl border">
      <MaskedHeading className="leading-[1.2] group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:150ms]">Ready to Start Your Project?</MaskedHeading>
      <p class="text-lg text-foreground/75 max-w-lg text-center mt-6 mb-8 group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:300ms]">
        Get in touch with our Sales Representive to help understand Embark on an adventure where imagination meets precision, transforming design dreams into vibrant realities.
      </p>
      <div class="relative group/button mx-auto group-data-[state=visible]:animate-slide-in opacity-0 [--slide-in-delay:450ms]">
        <div class="absolute transition-all duration-150 opacity-0 inset-px bg-[#B73DFC] rounded-xl blur-lg group-hover/button:opacity-60 group-hover/button:-inset-px group-hover/button:duration-300 z-0"></div>
        <button class="h-14 inline-flex items-center px-10 py-2 bg-[#B73DFC] font-medium rounded-full text-background relative z-10">Contact Us</button>
      </div>
    </article>
  </div>
</section>

<script>
  const element = document.getElementById("banner")!;
  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        element.dataset.state = "visible";
        observer.unobserve(element);
      }
    },
    { threshold: 0.1 }
  );
  observer.observe(element);
</script>
