---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to NodeFlux">
  <section id="hero" class="">
    <div class="container pt-28">
      <h1 class="text-center text-8xl font-medium leading-[1.05] bg-[radial-gradient(circle_farthest-corner_at_50%_50%,_var(--white),_rgba(255,255,255,0))] bg-clip-text text-transparent">Elevating businesses<br />to the next level.</h1>
    </div>
  </section>
</Layout>
