---
import Layout from "@/layouts/layout.astro";
---

<Layout title="Privacy Policy">
  <div class="container mx-auto">
    <div class="space-y-12 max-w-4xl">
      <h1 class="text-3xl font-bold">Terms and Conditions</h1>
      <div class="space-y-12">
        <div class="space-y-5">
          <h2 class="text-2xl font-semibold">1. Introduction</h2>
          <p class="text-foreground/80">
            Welcome to <span class="font-semibold">[Your Company Name]</span> (“Company”, “we”, “our”, “us”). These Terms and Conditions (“Terms”)
            govern your use of our services and website <a href="http://yourwebsite.com" class="text-blue-500 underline"
              >[yourwebsite.com]</a
            >
            (the “Site”). By accessing or using our services, you agree to be bound by these Terms. If you do not agree with these Terms, please
            do not use our services.
          </p>
        </div>
        <div class="space-y-5">
          <h2 class="text-2xl font-semibold">2. Definitions</h2>
          <ul class="list-disc pl-3 text-foreground/80">
            <li>
              <span class="font-semibold">"Services"</span> refers to the digital consultancy services provided by us, including but not limited
              to website development, digital marketing, software development, and consulting.
            </li>
            <li><span class="font-semibold">"Client"</span> refers to the individual or entity engaging our Services.</li>
            <li>
              <span class="font-semibold">"Agreement"</span> refers to these Terms and any additional terms and conditions agreed upon by both
              parties.
            </li>
          </ul>
        </div>
        <div class="space-y-5">
          <h2 class="text-2xl font-semibold">3. Services</h2>
          <div class="pl-8 space-y-5">
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">3.1. Scope of Services</h3>
              <p class="text-foreground/80 pl-9">
                We offer a range of digital consultancy services as described on our Site. The specific services provided will be outlined
                in a separate Service Agreement or Statement of Work.
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">3.2. Changes to Services</h3>
              <p class="text-foreground/80 pl-9">
                We reserve the right to modify or discontinue any part of the Services at any time, with or without notice.
              </p>
            </div>
          </div>
        </div>
        <div class="space-y-5">
          <h2 class="text-2xl font-semibold">4. Client Obligations</h2>
          <div class="pl-8 space-y-5">
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">4.1. Cooperation</h3>
              <p class="text-foreground/80 pl-9">
                The Client agrees to provide timely access to necessary information, resources, and cooperation required for the successful
                delivery of Services.
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">4.2. Compliance</h3>
              <p class="text-foreground/80 pl-9">
                The Client must comply with all applicable laws and regulations in connection with the use of our Services.
              </p>
            </div>
          </div>
        </div>
        <div class="space-y-5">
          <h2 class="text-2xl font-semibold">5. Fees and Payment</h2>
          <div class="pl-8 space-y-5">
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">5.1. Fees</h3>
              <p class="text-foreground/80 pl-9">
                Fees for our Services will be outlined in the Service Agreement or Statement of Work. All fees are exclusive of taxes.
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">5.2. Payment Terms</h3>
              <p class="text-foreground/80 pl-9">
                Invoices are due and payable within <span class="font-semibold">[30]</span> days from the date of the invoice. Late payments
                may incur interest charges.
              </p>
            </div>
            <div class="space-y-2">
              <h3 class="text-xl font-semibold">5.3. Refunds</h3>
              <p class="text-foreground/80 pl-9">All fees paid are non-refundable unless otherwise specified in the Service Agreement.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
