---
import "@/styles/globals.css";

import Header from "@/layouts/header.astro";
import Footer from "@/layouts/footer.astro";

interface Props {
  title: string;
  description: string;
}

const markup = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: "NodeFlux Pte. Ltd.",
  url: "https://nodeflux.org",
  logo: "https://nodeflux.org/nodeflux.png",
  sameAs: [
    "https://www.linkedin.com/company/nodefluxsg",
    "https://www.facebook.com/people/NodeFlux-Pte-Ltd/61565335343560/",
    "https://www.instagram.com/nodeflux.sg/",
    "https://x.com/nodefluxsg",
  ],
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Digital Consultancy | NodeFlux SG" />
    <meta property="og:description" content="Discover our customer-centric solutions and how we can help your company." />
    <meta property="og:image" content="https://nodeflux.org/nodeflux.png" />
    <meta property="og:url" content="https://nodeflux.org" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="pt-28 pb-32 sm:pb-40">
      <slot />
    </main>
    <Footer />
    <script is:inline type="application/ld+json" set:html={JSON.stringify(markup)} />
  </body>
</html>
